bin
include
lib
pyvenv.cfg

*.pyc

configs/config.dev.json
logs/monitoring.log

.local_debug

certs/kafka/ca.dev.pem
certs/kafka/service.dev.cert
certs/kafka/service.dev.key
certs/db/ca.dev.pem

.coverage

.DS_Store

